[2015-01-20 21:14] OpenMatt opened #1 "Upgrade etherpad on pad.webmaker.org to most current version"

[2015-01-20 21:16] OpenMatt opened #2 "Fix "style" drop down"
Ensure formatting works (H1, H2, etc.)

An example of what we mean http://workopen.org/github_howto

[2015-01-20 21:16] jdotpz commented on #1
Following their directions on the (github page)[https://github.com/ether/etherpad-lite] for etherpad results in:
http://pastebin.mozilla.org/8263959

I've tweeted over to etherpad to see if they have a later version debian build packaged already that maybe doesn't have a boatload of missing packages.

[2015-01-20 21:17] OpenMatt opened #3 "Fix path so that "pad.webmaker.org/foo" works"
For a nice clean URL. e.g., pad.webmaker.org/foo should create a pad.

Possible plug-ins:       ep_rewrite_share_paths    Rewrite share path to current URL /p/ to / for non read only and do a    str.replace for read only pads -- Useful for people doing reverse    proxying, team & pro pads 1

[2015-01-20 21:18] OpenMatt opened #4 "Create an easy way for people to see and find all their pads"
"View all." An easy way to see all pads / track down that pad you made and now you forget where it is.

Note: doesn't have to be perfect for this iteration. Small progress is fine.

Plug ins that could help:

[code]

[2015-01-20 21:18] OpenMatt opened #5 "Add images"
plug-ins that could help:

[code]

[2015-01-20 21:19] OpenMatt opened #6 "Default chat to be "always on""
A lot of people used to the old etherpad instance don't know that chat still exists in the new instance, cuz its hidden by default

possible plugin:

[code]

[2015-01-20 21:20] OpenMatt opened #7 "Add private / password-protected pads"
Lower priority. But eventually, may be helpful.

[2015-01-20 21:20] OpenMatt opened #8 "Add Google Analytics"
cuz JP said

[2015-01-20 21:21] OpenMatt opened #9 "Survey MoFos on what they want from new and improved etherpad"
- Once they play around with some of these potential improvements / plugins, ask people what they'd like next

[2015-01-20 21:22] OpenMatt opened #10 "Update default pad text"
Change default text:change default text to communicate all the new features available to MoFos. Maybe point them to a blog post explaining all of what's new and improved

[2015-01-20 21:22] OpenMatt opened #11 "Enable export to HTML"
This is extremely handy for easily turning etherpads into blog posts, etc.

[2015-01-20 21:23] OpenMatt opened #12 "Enable export to PDF"
Also useful for publishing. This used to exist -- not sure if it still does.

[2015-01-20 21:25] OpenMatt opened #13 "Set up wiki.webmaker.org on staging"
GOAL: spin up our own wiki instance that allows us to do things the mozilla wiki is currently unable to. Like: embed lists of Git Hub tickets, embed etherpads directly through iframes, etc.

requirements:

P1
- can embed lists of GitHub issues
- can embed lists of Bugzilla tickets (e.g., https://wiki.mozilla.org/Webmaker )
- embeds iframes

P2
- supports markdown
- fast
- mobile-friendly
- pretty

[2015-01-20 21:27] OpenMatt commented on #13
Some potentially useful documentation:

https://wiki.mozilla.org/Bugzilla:REST_API
Sprinter http://bugzilla-sprinter.herokuapp.com  (built by @k88hudson )
http://www.mediawikiwidgets.org/Iframe
https://github.com/aaronpk/MediaWiki-Github-Issues
http://www.mediawiki.org/wiki/Extension:MarkdownSyntax

[2015-01-20 21:27] OpenMatt commented on #13
Wiki Matrix comparison, in case we don't like MediaWiki: http://mzl.la/1sWwf4D

[2015-01-20 21:29] OpenMatt opened #14 "Export to markdown"
Lots of our team love markdown.

Potential plug-ins

[code]

[2015-01-20 21:29] OpenMatt opened #15 "Enable commenting in etherpad"
This is an extremely useful Google Docs feature. Replicating it in Etherpad would be useful.

plug-ins:

[code]

[2015-01-20 21:30] OpenMatt opened #16 "Add linkifying"
Real links!

plugins:

[code]

[2015-01-20 21:31] OpenMatt opened #17 "Link to a line number or anchor"
[code]

e.g,

[code]

[2015-01-21 12:06] JohnMcLear commented on #12
It still does exist, you just need to install abiword and set the path in settings.json

[2015-01-21 12:06] JohnMcLear commented on #11
It's enabled by default

[2015-01-21 12:07] JohnMcLear commented on #8
There is a plugin for this

[2015-01-21 12:08] JohnMcLear commented on #6
I'd suggest we actually expose a setting to always show chat and user lists.  The chat and user list functionality will land in 1.5.1 and we can expose the setting shortly after.

[2015-01-21 12:08] JohnMcLear commented on #2
Use ep_headings2

[2015-01-21 12:09] JohnMcLear commented on #1
Can you assign this to me please @jdotpz ?

[2015-01-21 12:10] JohnMcLear commented on #1
@jdotpz I put packages to literal versions last night, `git pull origin develop` and see if it fixes it for you.

Those errors aren't coming from EP, they are coming from NPM :|

[2015-01-21 14:21] OpenMatt commented on #2
@JohnMcLear Thanks for your help with this John! One thing I'm not clear on is: what does ep_headings2 provides that Etherpad 1.5 doesn't out of the box?

Here, for example, I have options for H1, H2, H3 etc built in:
http://workopen.org/github_howto

[2015-01-21 14:25] OpenMatt commented on #13
- Talked with Christie K about this -- we can use this wiki install as a chance to learn some stuff that we can contribute back into the Mozilla Wiki project. As per their roadmap:
  https://wiki.mozilla.org/MozillaWiki:Roadmap

[2015-01-21 14:26] OpenMatt commented on #11
I tried it on pad.webmaker.org and couldn't get it to export actual HTML -- it just resulted in a blank export. Would test it but pad.webmaker.org is down right now.

[2015-01-21 14:28] OpenMatt commented on #6
nice! thanks John

[2015-01-21 14:28] OpenMatt commented on #5
This one is huge -- people would really love to be able to embed images. We got embedded videos working, but couldn't get images to work yet.

[2015-01-21 14:29] JohnMcLear commented on #11
https://beta.etherpad.org is a useful playground for life.

[2015-01-21 14:32] jdotpz commented on #11
Perhaps we need to be on the develop branch for it.  I'm going to roll a .deb for it today and get it over to etherpadorg as well as use it to install all sorts of properly on our demo instance.

[2015-01-21 14:40] OpenMatt commented on #1
@jdotpz: helpful summary of what's new in 1.5: http://mclear.co.uk/2015/01/03/finally-releasing-etherpad-1-5/

[2015-01-21 14:51] jdotpz commented on #1
Awesome @JohnMcLear and many thanks for the help!  You are all sorts of heroic.
I'm going to crank on this today, and I'll roll you cats a .deb from the latest branch if I can get it cookin'.

![swagactivate](https://cloud.githubusercontent.com/assets/1373628/5838123/a6ae2ab8-a14a-11e4-8838-694d300fd129.gif)

[2015-01-21 14:54] jdotpz commented on #1
Hmmm, still bombing on the dependencies.
http://pastebin.mozilla.org/8274853

It's odd, because I see nowhere inside the directory structure where '^1.0.7' exists as text.  _scratches head, refills coffee_

[2015-01-21 14:59] JohnMcLear commented on #1
Pull and try that..

[2015-01-21 15:15] jdotpz commented on #1
Ah, fixed that one!  We've got a new one though!

assert-plus is doing the same thing.

ubuntu@i-0134faed:~/etherpad-lite$ grep -C10 assert-plus ./src/npm-debug.log
1037 silly resolved     contributors: [ [Object], [Object] ],
1037 silly resolved     repository:
1037 silly resolved      { type: 'git',
1037 silly resolved        url: 'git://github.com/joyent/node-http-signature.git' },
1037 silly r

[2015-01-21 15:19] JohnMcLear commented on #5
I did a LOT of work around images, a few weeks..

Images are a fsking nightmare in editors, especially those that are contentEditable.

I can implement basic image functionality but here are the things that users expect that are no longer being developed in contentEditable..
- Image Resizing: works in FF and IE, not Chrome.  Catching events is a nightmare.  UX is horrible in all browsers.
- Image

[2015-01-21 15:27] jdotpz commented on #1
Here's a readable version of an attempt to npm install in src

http://pastebin.mozilla.org/8275154

[2015-01-21 15:41] JohnMcLear commented on #1
Please provide exact steps to replicate.

[2015-01-21 15:42] JohnMcLear commented on #1
I have a feeling your version of npm is old and can't handle ^..  Please try install latest nodejs and see if the problem persists.

[2015-01-21 15:46] jdotpz commented on #1
Roger that, will do right now.  That may well be the case.  Which specific
version are you using?

On Wed, Jan 21, 2015 at 9:42 AM, John McLear notifications@github.com
wrote:

[2015-01-21 15:48] JohnMcLear commented on #1
I use nvm which means I hot switch between versions..  So depends on the moon really..

[code]

currently I'm using 11.14

[2015-01-21 16:20] JohnMcLear commented on #6
https://beta.etherpad.org/p/sldkfjklsdjf?chatAndUsers=true

[2015-01-21 16:21] JohnMcLear commented on #6
There does appear to be some conflict issues with page view but if you aren't running that then no big deal.

Setting now exposed by (peep URL above)

[2015-01-21 16:21] JohnMcLear commented on #7
MyPads from Framapad is the solution here.

[2015-01-21 16:22] JohnMcLear commented on #10
See settings.json

[2015-01-21 16:22] JohnMcLear commented on #4
MyPads from Framapad is the solution here.

[2015-01-21 16:22] JohnMcLear commented on #3
reverse proxying is the real solution here.  Easy to do as EP provides example configs

[2015-01-21 16:23] JohnMcLear commented on #9
Share this once you do it so we know where to focus efforts.

Also see http://etherpad.idea.informer.com/

[2015-01-21 16:24] JohnMcLear commented on #2
Peep the ep_headings2 readme.  It basically stops it from being shit.

[2015-01-21 16:58] jdotpz commented on #1
Yup. using 0.11.15 did the trick.  I was using latest from stable, 0.10.33 or so.

I'll see if I can't get this rolled up into a deb.  My builder box I usually use won't work, since the versioning on node is diff, but I can do some dark magic on this box and just build it from here.

[2015-01-21 18:49] JohnMcLear commented on #1
Coolies :) I literally was pondering doing this a few days ago so getting this level of help is greatly appreciated!  Pretty excited about the possibilities of `apt-get install etherpad` in the near future!  If there is anything we can do as a foundation to make things official just let me know

[2015-01-21 18:52] JohnMcLear commented on #13
It makes a lot of sense to just use Etherpad as an editor within Mediawiki.  Mediawiki afaik offers that.  @MarkTraceur from #etherpad-lite-dev freenode.net is afaik leading on it.  He is based in SF for Wikimedia.  I will bump him with this thread.

[2015-01-21 21:05] OpenMatt commented on #13
@JohnMcLear : you mean embedding an Etherpad in a MediaWiki page through an iFrame?

[2015-01-21 21:07] OpenMatt commented on #9
#1 biggest request so far is: "where do I see all my pads?!"

[2015-01-21 21:20] davidascher commented on #9
@OpenMatt -- that feature is easier to implement if we can restrict pad
creation to people who are signed in.  Works for you?

[2015-01-21 21:28] JohnMcLear commented on #13
I'm not actually sure how/what they are doing but it's worth getting in touch w/ him

[2015-01-21 21:30] jdotpz commented on #9
-1 to that, in my opinion.  This is to be open, in my personal view.
A search for pads option or list all pads option is preferable imho, but I submit the question to mofo as a whole.

[2015-01-22 00:45] MarkTraceur commented on #13
@JohnMcLear I'm actually in Minnesota now, but I'd be happy to help a bit.

EtherEditor exists - it hooks into the MediaWiki editing interface and lets you edit pages collaboratively. The Etherpad extension embeds a pad into a page, which is fine, but has less integration with MediaWiki.

[2015-01-22 00:45] MarkTraceur commented on #13
Fair warning: EtherEditor is probably broken, I think it's using some deprecated hooks or API calls for EPL.

[2015-01-22 04:22] GPHemsley commented on #13
Hey, MozillaWiki module peer here.

I don't think spinning up your own wiki instance is going to be particularly beneficial to you, us, or anyone else in the long run, and I'm curious as to why you think it is the right course of action.

What usecases are you trying to accommodate, and why did you not approach us first?

I really think it would be better for us to work together rather than in par

[2015-01-22 17:27] OpenMatt commented on #13
Hi Gordon! Christie K and I talked about it via email. We want to spin up our own instance so that we can experiment and break things. If we land on something good, we'll contribute it back in.

[2015-01-22 17:31] OpenMatt commented on #9
yeah this seems like the trade-off. Most of the "track my pads" options I've seen require sign-in. But as JP notes, this has drawbacks as well.

I think we just need to play with some of the plug-ins and test them to see what works.

[2015-01-23 04:28] davidascher commented on #9
Note that I'm not suggesting access control by default, only requiring an
account to create a new pad, so that we have the power of name spacing as
an organizing tool. Transparency and openness good, anarchy and losing work
bad.

[2015-01-23 15:15] jdotpz commented on #9
I have my devops volunteers in mind as I picture this service, and I suppose we can add community members who are higher up on the 'ladder of trust' as users.  That adds a slight bit of management overhead, but I don't think it'll be too heavy to do it.

[2015-01-23 15:33] davidascher commented on #9
I just mean either webmaker login or github auth or something -- I don't
mean "a specific set of people"

[2015-01-23 16:02] jdotpz commented on #9
That'd be a nice plugin to have.  At the moment, the auth system is the config file stored in the program etc directory in json.  I'll add that to our list of desired plugins, as I bet there is something written already to support that.

[2015-01-28 16:07] jdotpz commented on #3
This is setup on our demo instance.  I used nginx, along with the following vhost:
http://pastebin.mozilla.org/8402015

[2015-01-28 16:09] jdotpz commented on #3
However, I note that this breaks the plugins url
https://pad.webmaker.org/plugins

Working on that

[2015-01-28 16:12] jdotpz commented on #3
For the moment, I've moved back to not using pretty urls so I can work on plugins.

[2015-01-28 16:14] jdotpz commented on #16
![screen shot 2015-01-28 at 10 13 56 am](https://cloud.githubusercontent.com/assets/1373628/5941390/65364444-a6d6-11e4-8997-bebd6faee9ba.JPG)

[2015-01-28 16:14] #16 closed, assigned to jdotpz

[2015-01-28 16:19] jdotpz commented on #12
![screen shot 2015-01-28 at 10 19 10 am](https://cloud.githubusercontent.com/assets/1373628/5941518/211d431a-a6d7-11e4-8fe4-2f3baaa3b21b.JPG)

[2015-01-28 16:24] jdotpz commented on #5
ep_embedmedia is still behaving as we saw last time, with images being hosed but being able to embed other types of media.

[2015-01-28 16:31] JohnMcLear commented on #5
I'm working on Image support now.  See the copy paste images plugin.  Support welcome
----- Reply message -----
From: "JP Schneider" notifications@github.com
To: "MozillaFoundation/mofo-lightsaber" mofo-lightsaber@noreply.github.com
Cc: "John McLear" John@mclear.co
Subject: [mofo-lightsaber] Add images / videos / media to etherpads (#5)
Date: Wed, Jan 28, 2015 16:24

ep_embedmedia is still behavin

[2015-01-28 16:32] jdotpz commented on #5
![screen shot 2015-01-28 at 10 31 29 am](https://cloud.githubusercontent.com/assets/1373628/5941798/d9e15bec-a6d8-11e4-8f34-1f88cf25eea4.JPG)
I got that as I tried to install the copy paste image plugin.  Awesome that you are cooking on that!

[2015-01-28 16:33] JohnMcLear commented on #5
You will need latest develop and it's a moving target.  I only have one more days funding to finish the to-do so let's hope things go well later today ..
----- Reply message -----
From: "JP Schneider" notifications@github.com
To: "MozillaFoundation/mofo-lightsaber" mofo-lightsaber@noreply.github.com
Cc: "John McLear" John@mclear.co
Subject: [mofo-lightsaber] Add images / videos / media to etherpad

[2015-01-28 16:34] jdotpz commented on #14
I've got markdownify installed, but kind of see no way to use it!
The reference page is boned on SSL, so I can't get there to view docs.

[2015-01-28 16:53] jdotpz commented on #15
Comments seem to be working!
![comments-eth](https://cloud.githubusercontent.com/assets/1373628/5942239/e895d66a-a6db-11e4-9c6f-4f748eaa38ae.gif)

[2015-01-28 16:56] jdotpz commented on #11
Seems to be working on the new branch!
![htmlbaby](https://cloud.githubusercontent.com/assets/1373628/5942316/5938aabe-a6dc-11e4-8587-5cc75ed73454.gif)

[2015-01-28 17:02] OpenMatt commented on #15
Nice! Lets mark this one resolved! :)

[2015-01-28 17:02] #15 closed, assigned to jdotpz

[2015-01-28 17:03] OpenMatt commented on #13
@jdotpz : how's this one going?

[2015-01-28 17:04] OpenMatt commented on #10
I'll take this one. And write the updated text once we have updates to let people know about.

[2015-01-28 17:04] OpenMatt commented on #9
This one is gated on shipping the initial improvements. So we can give people something to play with before we ask them for preferences and suggestions.

[2015-01-28 17:05] jdotpz commented on #13
Poorly thus far @OpenMatt .
I have spun up a few instances that were bunk.  I'm cooking on the etherpad stuff, then will move to mediawiki.

[2015-01-28 17:05] OpenMatt commented on #13
Sounds good. Prioritizing etherpad over mediawiki makes sense.

[2015-01-28 17:07] OpenMatt commented on #14
maybe @JohnMcLear  can help answer this. In the interim, this is a low priority.

[2015-01-28 17:08] JohnMcLear commented on #14
@jdotpz well afaik markdownify isn't one of my plugins.  ep_markdown should work tho and is one of mine afaik....

[2015-01-28 17:08] JohnMcLear commented on #14
Yea markdownify last update a year ago, markdown 8 days ago....

[2015-01-28 17:08] OpenMatt commented on #6
Thanks John. @jdotpz : can we make this change to pad.webmaker.org?

[2015-01-28 17:10] OpenMatt commented on #2
nice. @jdotpz : let's install this one.

[2015-01-28 17:11] OpenMatt commented on #1
how did this one work out @jdotpz ?

[2015-01-28 17:11] jdotpz commented on #1
Quite well @OpenMatt
I have the latest and greatest version running, and will eventually get a .deb rolled (after this heartbeat).

[2015-01-28 17:11] #1 closed, assigned to jdotpz

[2015-01-28 17:13] jdotpz commented on #2
Hmmm, I'm not seeing it in the list.  Is it just available on npm?
![screen shot 2015-01-28 at 11 12 57 am](https://cloud.githubusercontent.com/assets/1373628/5942680/aba67810-a6de-11e4-9cac-350d3e33c193.JPG)

[2015-01-28 17:13] JohnMcLear commented on #2
/me boggles

[2015-01-28 17:14] JohnMcLear commented on #2
[code]

weird it's available on npm

[2015-01-28 17:14] JohnMcLear commented on #2
heh I don't see it on beta.etherpad.org either..  Feck.  Fixing

[2015-01-28 17:16] jdotpz commented on #2
ubuntu@i-0134faed:/opt/etherpad/src$ npm install ep_headings2
npm WARN package.json async-stacktrace@0.0.2 No repository field.
npm WARN package.json channels@0.0.4 No repository field.
npm WARN package.json tinycon@0.0.1 No repository field.

Installed and bounced services.  Let's see how she does.

[2015-01-28 17:17] JohnMcLear commented on #2
Oh I'm being an idiot I already had it installed no wonder I couldn't see it..  Yea make sure you are running latest develop it should be there..

[2015-01-28 17:18] jdotpz commented on #2
It's there!

[2015-01-28 17:18] #2 closed, assigned to jdotpz

[2015-01-28 17:22] jdotpz commented on #6
@JohnMcLear I'm not precisely clear on what change I make to enable this?
Again, tons of thanks for your help, you are awesome!

![cat5](https://cloud.githubusercontent.com/assets/1373628/5942848/fb96047a-a6df-11e4-9f85-21fa25317057.gif)

[2015-01-28 17:23] JohnMcLear commented on #6
Dat overuse of gifs though.  ;)

Append ?chatAndUsers=true

To your Etherpad URL and you will get chat and users enabled by default.

For example: peep http://pad.webmaker.org/p/boobies?chatAndUsers=true

It should work anyway, are you running latest develop?

[2015-01-28 17:43] jdotpz commented on #6
Hmm, is there a place in settings.json or elsewhere for that?

[2015-01-28 20:07] JohnMcLear commented on #6
Afaik we don't have a setting for it, just a URL parameter.  I only added it a few days ago based on this so it's not widely supported..

[2015-01-28 20:16] jdotpz opened #18 "Resolve issue with etherpad that seems to not save contents"
I'm betting when this is on mysql and production quality infra it will be fixed, but its worth noting here.
It does a bunch of reconnecting, and does not seem to save a lot of data.
cc @JohnMcLear @OpenMatt

![yeshedoes-eth](https://cloud.githubusercontent.com/assets/1373628/5946026/38474164-a6f8-11e4-80e7-3788fb89535d.gif)

[2015-01-28 20:22] jdotpz opened #19 "Setup RDS and a better performing server"

[2015-01-28 20:24] jdotpz commented on #19
etherpadlite-db.mofoprod.net
RDS security group setup, allowed ingress from the etherpadlite-ec2-sg security group, and JPs IP.

[2015-01-28 20:29] jdotpz commented on #17
I have installed ep_scrollto and tested it.  It seems nice, but we've been having difficulty with items saving.  I'm working on resolving that, so I'll leave this open.

[2015-01-28 20:32] jdotpz commented on #19
Looks like the db bits have been added.

Wed Jan 28 20:34:50 UTC 2015
etherpad start/pre-start, process 20370
Wed Jan 28 20:34:53 UTC 2015
etherpad start/pre-start, process 20409
Wed Jan 28 20:34:56 UTC 2015
etherpad start/running, process 20443

[2015-01-28 20:34] JohnMcLear commented on #18
hrm, is that caused by having 2 of the same browsers hit a pad?  That's expected behaviour if that's the case.

We restrict pad connectivity to one per browser.

[2015-01-28 20:41] davidascher commented on #18
That seems like a weird choice. Aren't users likely to be confused more
than anything else?

[2015-01-28 20:44] jdotpz commented on #17
![linelinks-eth](https://cloud.githubusercontent.com/assets/1373628/5946549/38515006-a6fc-11e4-9076-821fb3eb4af8.gif)

[2015-01-28 20:51] jdotpz commented on #14
Export as markdown is there, life is grand!

[2015-01-28 20:52] davidascher commented on #14
I thought the point of the bug was about author-as-markdown, so that export
to HTML does markdown->HTML. No?

[2015-01-28 20:57] JohnMcLear commented on #14
I have had this discussion before.  Read my thoughts here: https://github.com/JohnMcLear/ep_markdown/issues/4

[2015-01-28 21:01] JohnMcLear commented on #14
Of course if you want to sponsor the development of that functionality I'm available as a gun for hire, I'm not saying flat out no, I just want people to be mindful of the caveats.

[2015-01-28 21:06] #19 closed, assigned to jdotpz

[2015-01-28 21:08] jdotpz commented on #4
Hmm, I'm not really sold on mypads here.

I'm trying a few out, and list_pads includes this dire warning

**USE THIS PLUGIN WITH CAUTION. This plugin will help make content indexable by evil search engines and the hordes of social networks waiting to suckle on the bussum of your content. This plugin Allows search engines to get pad text contents, use with robots override plugin for publicly indexa

[2015-01-28 21:12] jdotpz commented on #4
This gives a pad listing by alphabetical order on the front page.

For example:
![byletter-eth](https://cloud.githubusercontent.com/assets/1373628/5947054/0402f846-a700-11e4-93f9-7b51fe5c62ec.gif)

Thoughts @OpenMatt @davidascher ?

[2015-01-28 21:12] JohnMcLear commented on #4
MyPads is the right thing, it's coming in a month or so and basically replicates the old "Pro pads" that was available in the old version of Etherpad.  Afaik some Etherpadians are involved in conversations around this..  I'm trying to keep out of it though as it's going to require some strong leaders to see it through.

[2015-01-28 21:13] jdotpz commented on #14
Here's the readme from markdownify, which _sounds_ like it'd do what we wanted.

![logo](https://js.f0i.de/img/sphere.png)

# Etherpad Markdown Plugin

Etherpad-lite plugin for inline markdown formating.
Format headings, show images, highlight lists, tables and more.

[code]

## Features
- Formating
  - Headings
  - Lists
  - Links, Images
- Preview Images
- Horizontal line
- Relative links to oth

[2015-01-28 21:15] JohnMcLear commented on #14
I'd bump the markdownify author and see if he can help or create an issue on his repo.  https://pad.f0i.de/ is a bad gateway ;\

[2015-01-28 21:19] jdotpz commented on #9
I tried a github extension, and it hosed the server.  It hasn't been developed on in 3 years, so that is somewhat expected.

github  Authenticate users against Github on Etherpad lite  0.0.2   2012-07-03

[2015-01-28 21:20] davidascher commented on #4
my 2c: A list of all the pads for the entire org is pretty much useless to me.  A list of the pads I've authored and or participated in is way useful.

Note that I personally see a lot of value in team pads, so am not likely to switch until we have one or both of those features (which I gather is what MyPads will do, but I can imagine it's messy).

[2015-01-28 21:25] jdotpz commented on #14
The markdownify plugin does not seem to work.  I ran into that same annoying issue where my pad keeps force reconnecting, errors, then loses my data.  I'll post it to that other issue.

![markdownifyfail-eth](https://cloud.githubusercontent.com/assets/1373628/5947349/f3557e4a-a701-11e4-9899-4a1a754337e8.gif)

[2015-01-28 21:27] jdotpz commented on #18
I had an incognito Chrome window up with _only_ that page, and it started misbehaving.

![markdownifyfail-eth](https://cloud.githubusercontent.com/assets/1373628/5947371/1b3b53bc-a702-11e4-8ebb-d468177a1447.gif)

Any hints?

[2015-01-28 21:27] JohnMcLear commented on #9
Yea I don't maintain that one either, I'd bump the author it's probably fixable..  https://github.com/francois2metz/ep_github

It appears you need to add some settings to your settings.json :)

[2015-01-28 21:27] jdotpz commented on #18
![screen shot 2015-01-28 at 3 27 29 pm](https://cloud.githubusercontent.com/assets/1373628/5947382/384af5a2-a702-11e4-8997-4dd9f14b7f31.JPG)

[2015-01-28 21:28] davidascher commented on #9
Noted. We could write etherpad extensions if we decide they're critical to
our use of it.

[2015-01-28 21:28] JohnMcLear commented on #18
Check your server side logs, it will tell you what's happening..

The disconnects look weird..  That's unexpected behaviour for sure..

[2015-01-28 21:36] jdotpz commented on #18
Here's what I see in error.log:  http://pastebin.mozilla.org/8406526

Nothing really in error.log.

[2015-01-28 21:42] JohnMcLear commented on #18
Jump on here: http://pad.webmaker.org/p/2FzaW203iz
 I'm not getting any disconnects..

[2015-01-28 21:44] JohnMcLear commented on #18
Okay now I'm getting disconnects..  heh wtf

[2015-01-28 21:44] JohnMcLear commented on #18
[code]

[2015-01-28 21:45] JohnMcLear commented on #18
markdownify and linkify look like they both have errors..

Also `Firefox can't establish a connection to the server at ws://pad.webmaker.org/socket.io/?EIO=3&transport=websocket&sid=2eZXUNxZe-KT_PccAAAF. socket.io.js:5258`

Check your console log bro!

[2015-01-28 23:47] jdotpz commented on #18
Hmm, this is using sockets?  If that is the case, I think the ELB needs to change protocol.

[2015-01-29 18:36] JohnMcLear commented on #5
You can test image support here: https://beta.etherpad.org/p/imagedemo

[2015-01-29 18:37] jdotpz commented on #4
We have another we can try that is more in-line with that:
_With the Pad Tracker it's possible to search in all the created Pads of your server and with a click on track you can track it. Tracking means that you can see all tracked-pads on the main-page (/admin/padtracker) of the Plugin. All tracked Pads get listed on the main page with the name, the amoung of revisions and the date of the last ed

[2015-01-29 18:37] jdotpz commented on #4
Further, I note that the list pads plugin we're trying now doesn't take you to the pad, but to an html representation of that pad.  Uninstalling that.

[2015-01-29 18:42] jdotpz commented on #5
Nice, it's looking great!

[2015-01-29 19:29] jdotpz commented on #4
Padtracker requires someone to be an admin to use it.  That breaks our use case.

[2015-01-29 20:20] jdotpz commented on #4
I'm trying one which will work for you as long as you are on the same browser, it sounds like.

bookmark - Etherpad plugin for users to save a list of bookmarks of their visited pads locally in the browser's local storage

![localbookmarks-eth](https://cloud.githubusercontent.com/assets/1373628/5965487/efc2a896-a7c1-11e4-87b2-d72e20cb1783.gif)

[2015-01-29 21:10] jdotpz commented on #13
http://ec2-54-158-171-148.compute-1.amazonaws.com/index.php/?title=Main_Page is the demo server I'm working on.

Here were my installer info's

vhost:
http://pastebin.mozilla.org/8426027

Installed in /var/www/html
php ./maintenance/install.php --dbuser dbuser --dbpass dbpass --dbserver localhost --dbtype mysql --dbname mediawiki --pass mainpw --scriptpath / WebmakerWiki mofoadmin

[2015-01-29 21:40] jdotpz commented on #13
http://wiki-staging-432326455.us-east-1.elb.amazonaws.com/index.php/?title=Main_Page
It's failing quite a bit, even as I added --server https://wiki.mofostaging.net argument to the install.

![gah-wiki](https://cloud.githubusercontent.com/assets/1373628/5966816/2b4988fc-a7cd-11e4-9988-6e1ebf3f2eaa.gif)

[2015-01-30 17:11] jdotpz commented on #13
OK, fixed that issue!

Their wiki lies!  It's hard deploying liar software.
*
The URL base path to the directory containing the wiki;
defaults for all runtime URL paths are based off of this.
For more information on customizing the URLs
(like /w/index.php/Page_title to /wiki/Page_title) please see:
https://www.mediawiki.org/wiki/Manual:Short_URL*
$wgScriptPath = "https://wiki.mofostaging.net";
Thi

[2015-01-30 17:18] OpenMatt commented on #17
So the way this works is: add "#lineNumber=5" to any etherpad link

[2015-01-30 17:24] OpenMatt commented on #14
done!

[2015-01-30 17:24] OpenMatt commented on #10
to make this change: pad.webmaker.org/admin
@jdotpz : let me know the URL once it changes

[2015-01-30 17:29] OpenMatt commented on #6
good enough! let's close this one

[2015-01-30 17:47] jdotpz commented on #17
I've reopened because I've removed the linkify plugin while working to stabilize the instance.

[2015-01-30 17:55] jdotpz commented on #18
Hi @JohnMcLear, many thanks for the help again!

We're still seeing a lot of stability issues, and I wondered if I might be able to please pick your brain as to what the problem might be.  I've removed linkify and markdownify as well.

I see this in the log a couple times: http://pastebin.mozilla.org/8444787

I'm not seeing any crazy utilization that would lead me to believe it is sizing of the in

[2015-01-30 18:22] JohnMcLear commented on #18
Hrm nothing obvious from that log..  Do this

cd node_modules
grep -rni pad.collabClient

And see if any are in plugins

Stability in general should not be an issue put possibly caused by plugin!

----- Reply message -----
From: "JP Schneider" notifications@github.com
To: "MozillaFoundation/mofo-lightsaber" mofo-lightsaber@noreply.github.com
Cc: "John McLear" John@mclear.co
Subject: [mofo-lightsab

[2015-01-30 19:30] jdotpz commented on #18
here's a file list:
- ubuntu@i-0134faed:/opt/etherpad$ grep -ril collabClient ./*
  ./node_modules/ep_etherpad-lite/static/js/pad.js
  ./node_modules/ep_etherpad-lite/static/js/collab_client.js
  ./node_modules/ep_etherpad-lite/static/js/pad_savedrevs.js
  ./node_modules/ep_etherpad-lite/static/js/ace2_inner.js
  ./node_modules/ep_etherpad-lite/static/js/chat.js
  ./src/static/js/pad.js
  ./src/st

[2015-02-01 23:30] JohnMcLear commented on #18
No plugins there.. Very weird..

[2015-02-02 16:52] jdotpz commented on #18
Interesting indeed.

I'm seeing this quite a bit as well:

An error occured
The error was reported with the following id: 'niFl3a2pnIcLyokCTzGD'

Please press and hold Ctrl and press F5 to reload this page, if the problem persists please send this error message to your webmaster:
'ErrorId: niFl3a2pnIcLyokCTzGD
URL: https://pad.webmaker.org/p/noshizzle
UserAgent: Mozilla/5.0 (Macintosh; Intel Mac O

[2015-02-02 16:54] JohnMcLear commented on #18
Are you rewriting or reverse proxying or something?  It sounds like an issue with your configs...

[2015-02-02 16:55] jdotpz commented on #18
Actually, at the moment I am not reverse proxying at all!  Because I had /plugins broken in my vhost/conf, I turned it off until we got our plugins in a stable place.

[2015-02-02 17:01] JohnMcLear commented on #18
hrm, do you get the same if you don't use https?

[2015-02-02 17:02] JohnMcLear commented on #18
hrm this could be the issue: Firefox can't establish a connection to the server at wss://pad.webmaker.org/socket.io/?EIO=3&transport=websocket&sid=oBLts_3-MopE7lCeAADL.

[2015-02-02 17:03] JohnMcLear commented on #18
Just for what it's worth, I can support this project with general software etc. stuff but specific implementation into environments it's tricky for me to find the resources to support things for free.  Not to sound like I'm not willing to help or anything just want you to understand if I'm less forthcoming in resolving these issues for you.

[2015-02-02 17:19] jdotpz commented on #18
Understood, and I appreciate the help you are able to give!

I've updated the load balancer to use tcp instead of http so it should now support ws protocol.

[2015-02-02 17:38] jdotpz commented on #18
FWIW, the socket.io error we see now is actually likely in the code.

I see it on beta as well:

![screen shot 2015-02-02 at 11 37 41 am](https://cloud.githubusercontent.com/assets/1373628/6005445/fd3f7d1c-aacf-11e4-9c5c-635277ec8192.JPG)

[2015-02-02 17:45] JohnMcLear commented on #18
beta.etherpad.org is stable tho right?

[2015-02-02 17:49] jdotpz commented on #18
Yup, so far as I know.  Just observing that the socket.io error we see there is not an indicator of whether that funky error pops.

[2015-02-02 23:25] JohnMcLear commented on #18
Fixed socketIO initial upgrade error on beta.etherpad.org - updated nginx rewrite docs.  Very easy to do

[2015-02-03 16:43] OpenMatt opened #20 "Invite MoFos to test out pad.webmaker.org"
- Once it's ready -- e.g., when we feel that its stable enough to not loose data -- invite MoFos to _test_ the new etherpad

[2015-02-03 16:46] OpenMatt commented on #18
- @jdotpz : I assume closing this one is a blocker for https://github.com/MozillaFoundation/mofo-lightsaber/issues/20 , right? Until this is closed, users may lose data?

[2015-02-03 16:46] OpenMatt commented on #17
I'd suggest we wontfix this one -- I'm not sure it's that useful.

[2015-02-03 16:46] #17 closed, assigned to jdotpz

[2015-02-03 16:47] OpenMatt commented on #13
@ nice! @jdotpz any next steps here? Or can we close this one?

[2015-02-03 16:49] OpenMatt commented on #10
@jdotpz I went to update this copy just now, but it looks like  pad.webmaker.org/admin is no longer the right admin URL?

[2015-02-03 17:01] jdotpz commented on #13
Definitely next steps, leave it open

On Tue, Feb 3, 2015 at 10:47 AM, OpenMatt notifications@github.com wrote:

[2015-02-03 17:23] OpenMatt commented on #5
@jdotpz should we mark this one closed?

[2015-02-03 17:54] OpenMatt commented on #4
@jdotpz that looks promising.
@JohnMcLear : what do you think? have you seen any feedback on the "bookmark" plugin?

[2015-02-03 17:55] OpenMatt commented on #3
I believe this is fixed now. @jdotpz can we close?

[2015-02-03 17:57] OpenMatt commented on #16
@jdotpz we uninstalled this because it was causing stability issues, correct?
(if so: that's fine. lets wontfix this one. just curious.)

[2015-02-03 17:59] OpenMatt commented on #14
I just tried to export to Markdown and it didn't work. It just exported the default welcome text.

[2015-02-03 18:00] OpenMatt commented on #12
I just tried this and it doesn't appear to work

[2015-02-03 18:05] OpenMatt commented on #11
just tried this and it doesn't seem to work

[2015-02-03 18:06] OpenMatt commented on #11
I'm going to make this a P1 because, with the new formatting features, this could save program managers a lot of time. It means we can turn an etherpad agenda into a blog post much more quickly, preserving formatting, etc.

[2015-02-03 18:10] OpenMatt commented on #6
@JohnMcLear : we'll share our user survey results with you. But so far: this is something a lot of users report. They don't know chat exists. Or they miss etherchat IMs altogether. If there was a way for force it to be always on in the admin settings, that would be great.
- There's something about the old bare bones etherpad UI (e.g. http://etherpad.mozilla.org/ ) that does two things surprisingly

[2015-02-03 18:18] OpenMatt commented on #13
Goal is to be able to embed:
a) etherpad (through an iframe)
b) Git Hub issues, and
c) Bugzilla tickets
in a single wiki page

[2015-02-03 18:25] OpenMatt opened #21 "Remove "alignment" plug-in"
- Not that useful. And center aligned text can't really be edited. It's janky.

[2015-02-03 18:27] jdotpz commented on #3
Indeed!

[2015-02-03 18:27] #3 closed, assigned to jdotpz

[2015-02-03 18:28] JohnMcLear commented on #11
I just tested it and it's working for me...

What problem are you having @OpenMatt  ?

https://pad.webmaker.org/p/FgOLLbBJuS/export/html

[2015-02-03 18:29] OpenMatt commented on #5
- From testing today, images sometimes appear in doubles or multiples. e.g., you paste one image, and it appears on the pad 3 times.

[2015-02-03 18:31] JohnMcLear commented on #5
https://github.com/JohnMcLear/ep_copy_paste_images is the repo

Afaik I fixed copy/paste in FF

Please update Etherpad and the plugin, tnx :)

[2015-02-03 18:32] JohnMcLear commented on #5
Yea it looks again like you are potentially running an old version, testing on https://beta.etherpad.org/p/image seems to show this issue resolved.

[2015-02-03 18:33] JohnMcLear commented on #12
What problem are you seeing?  https://pad.webmaker.org/p/kljsdlfjskldjf/export/pdf works for me

[2015-02-03 18:34] JohnMcLear commented on #14
http://pad.webmaker.org/p/kljsdlfjskldjf/export/markdown works for me

[2015-02-03 18:36] OpenMatt commented on #13
- Lots of great progress on the main Mozilla MediaWiki happening here: https://wiki.mozilla.org/MozillaWiki:News/2015-01/Mediawiki_upgrade,_new_deployment_model_and_Widgets
- So I've asked about Git Hub issue support again here https://bugzilla.mozilla.org/show_bug.cgi?id=1017714

[2015-02-03 18:44] jdotpz commented on #12
Hmm, that works for me too, odd!

Ah, I see...if its done from the /p/padname path, it works fine, if done from the /padname path it does not.

[2015-02-03 18:49] JohnMcLear commented on #12
Again please see the rewrite rules we provide in the wiki!

[2015-02-03 18:52] jdotpz commented on #12
Heh, these _were_ from the wiki. :)

[2015-02-03 18:55] JohnMcLear commented on #12
Hrm must have missed the export rewrite rules somehow?  If they are not there please fix em up :)
----- Reply message -----
From: "JP Schneider" notifications@github.com
To: "MozillaFoundation/mofo-lightsaber" mofo-lightsaber@noreply.github.com
Cc: "John McLear" John@mclear.co
Subject: [mofo-lightsaber] Enable export to PDF (#12)
Date: Tue, Feb 3, 2015 18:51

Heh, these were from the wiki. :)

—
R

[2015-02-03 20:06] jdotpz commented on #11
Yup, it works under /p but not under the reverse proxy.  I'll double check my reverse proxying.

[2015-02-03 20:17] jdotpz commented on #11
Hmmm...this is my reverse proxy, but i'm not so sure what I'm supposed to add there?  apologies!
http://pastebin.mozilla.org/8525136

[2015-02-04 18:02] JohnMcLear commented on #11
@jdotpz I don't know what URL endpoints you expect to work so I'm not sure how useful I am?  Like how are you getting the wrong URLs for exporting?  They should be like..   https://pad.webmaker.org/p/FgOLLbBJuS/export/html

If you are doing..

https://pad.webmaker.org/FgOLLbBJuS/export/html

Then you will need to rewrite that to

https://pad.webmaker.org/p/FgOLLbBJuS/export/html

I haven't written

[2015-02-04 19:16] OpenMatt commented on #21
- Apparently there is a fix for this -- but I still vote for removing it. I don't think we need it.

[2015-02-04 19:18] OpenMatt commented on #5
- EtherpadDotOrg also commented on our test pad and twitter to say that there is an update that fixes this

[2015-02-04 19:23] OpenMatt commented on #6
This pad seems to displays exactly the behavior we want. Without requiring appending "?chatAndUsers" to the URL
https://beta.etherpad.org/p/image

https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/0yzwcrpl.png

@JohnMcLear do you know why by any chance?

[2015-02-04 19:26] OpenMatt opened #22 "Consider adding "font size" plug-in"
- Provided its stable and doesn't produce unintended consequences or problems, the "ep_font_size plugin" could be useful.
- (but this is very low priority)

[2015-02-04 19:27] OpenMatt opened #23 "Update the CSS for etherpad comments"
Had some feedback from users that the "comments" feature could use a bit of styling / typography love. Apparently this is set in CSS, so we could improve it if we chose to. (But this is very p3)

[2015-02-04 20:11] OpenMatt commented on #5
Noticing issues like this one:
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/wk__vcww.png

[2015-02-04 23:02] JohnMcLear commented on #5
@OpenMatt wow how did you make it do that?  That looks like a browser bug, I'm running nightly here and don't see that.

[2015-02-04 23:04] JohnMcLear commented on #6
once you set it using a setting --> cookie it will stick.

The thing I recommend doing is creating an issue on the etherpad repo to provide a setting in settings.json that makes this on by default instead of requiring a url param..

[2015-02-09 21:52] jdotpz commented on #18
I _believe_ we're all set here, and we can reopen if we see the issue recur while in use.

[2015-02-09 21:52] #18 closed, assigned to jdotpz

[2015-02-09 21:55] OpenMatt commented on #5
@JohnMcLear yeah that was probably a browser bug
- I've been working with images in the pad quite a bit the last few days, and it feels stable.
- @jdotpz I think maybe we can mark this one resolved, unless you have more stuff you want to do here?

[2015-02-09 21:58] jdotpz commented on #5
+1

[2015-02-09 21:58] #5 closed, assigned to jdotpz

[2015-02-09 22:03] OpenMatt commented on #10
@jdotpz let's go with this:

**Etherpad is new and improved!**
Copy and paste images, add comments, embed pads, and more!
More details here: http://pad.webmaker.org/new

[2015-02-09 22:04] OpenMatt commented on #13
wiki.mofostaging.net is now up and running

[2015-02-09 22:11] jdotpz commented on #10
I've scheduled pad.webmaker.org to recycle at 10pm ET and update this text.

[2015-02-09 22:15] OpenMatt commented on #13
@jdotpz should we mark this one resolved?

[2015-02-09 22:16] OpenMatt opened #24 "Install Git Hub extension for wiki"

[2015-02-09 22:17] OpenMatt opened #25 "Install Bugzilla extension for wiki"

[2015-02-09 22:18] OpenMatt opened #26 "Install iFrame extension for wiki"
So that we can embed etherpads directly. Like this:
http://openmatt.org/embed-your-etherpads/

[2015-02-09 22:25] OpenMatt commented on #6
Thanks @JohnMcLear. Done!
https://github.com/ether/etherpad-lite/issues/2512

[2015-02-09 22:25] #6 closed, assigned to jdotpz

[2015-02-09 22:25] jdotpz commented on #13
Sure thing, we'll get to new issues for specific features we want to try.

[2015-02-09 22:25] #13 closed, assigned to jdotpz

[2015-02-09 22:27] OpenMatt commented on #23
let's wontfix this one

[2015-02-09 22:27] #23 closed, assigned to nobody

[2015-02-10 19:46] JohnMcLear commented on #12
Was it

[code]

That fixed this?  Please paste your rule :)

[2015-02-10 20:04] jdotpz commented on #11
Nah, afraid that didn't do the trick.  I suck at rewrites, and haven't had time to mess with it after testing.

[2015-02-10 20:07] JohnMcLear commented on #11
Weirdly I tested this like 5 mins ago and your rule is working..

[2015-02-10 20:07] JohnMcLear commented on #11
https://pad.webmaker.org/FgOLLbBJuS/export/html is an active endpoint now...  What am I missing?

[2015-02-10 20:12] jdotpz commented on #11
It seems the plugin itself is pointing to a null link:

![screen shot 2015-02-10 at 2 11 25 pm](https://cloud.githubusercontent.com/assets/1373628/6135499/c6aba66c-b12e-11e4-8906-36626926c5de.JPG)

[2015-02-10 20:13] jdotpz commented on #11
![eth-null](https://cloud.githubusercontent.com/assets/1373628/6135518/f6892666-b12e-11e4-8f4f-057226ed315e.gif)

[2015-02-10 20:13] JohnMcLear commented on #11
How do you see that?  under export on the pad?
----- Reply message -----
From: "JP Schneider" notifications@github.com
To: "MozillaFoundation/mofo-lightsaber" mofo-lightsaber@noreply.github.com
Cc: "John McLear" John@mclear.co
Subject: [mofo-lightsaber] Enable export to HTML (#11)
Date: Tue, Feb 10, 2015 20:11

It seems the plugin itself is pointing to a null link:

[screen shot 2015-02-10 at 2 11

[2015-02-10 20:13] jdotpz commented on #11
(Note the url of the links I'm highlighting in my lower left corner of the browser)

[2015-02-10 20:14] jdotpz commented on #11
Correct, under export as shown in that gif.

[2015-02-11 01:47] JohnMcLear commented on #11
Aha I see this now..

[2015-02-11 02:07] JohnMcLear commented on #11
I put a fix into develop, give it a go

https://github.com/ether/etherpad-lite/pull/2515

[2015-02-11 18:20] OpenMatt commented on #11
Thanks @JohnMcLear !

[2015-02-12 21:53] OpenMatt commented on #12
just tested --can confirm this now works.

[2015-02-12 21:53] #12 closed, assigned to jdotpz

[2015-02-12 21:53] OpenMatt commented on #11
done! this now works.

[2015-02-12 21:53] #11 closed, assigned to jdotpz

[2015-02-12 21:54] OpenMatt commented on #10
done!

[2015-02-12 21:54] #10 closed, assigned to OpenMatt

[2015-02-12 21:56] OpenMatt commented on #14
oddly, this is the one export feature that still doesn't work. All the other options (HTML, PDF etc do now work).
I still get the old placeholder default pad text when I try to export to MarkDown.
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/51vqzw7w.png

[2015-02-15 15:39] JohnMcLear commented on #14
Will take a look tomorrow

[2015-02-16 01:34] JohnMcLear commented on #14
I just tested markdown export locally and it's working fine.

[2015-02-16 01:35] JohnMcLear commented on #14
Ah yea the link for the markdown is wrong on your instance..  Will take a look now..  http://pad.webmaker.org/null/export/markdown

[2015-02-16 01:39] JohnMcLear commented on #14
Update the ep_markdown plugin this will be fixed.

[2015-03-09 19:31] OpenMatt commented on #26
@jdotpz we can check in on the P1s Tues in our stand-up

[2015-03-09 19:44] OpenMatt commented on #25
We can review this in our stand-up Tues

[2015-03-09 19:44] OpenMatt commented on #24
We can review this in our stand-up Tues

[2015-03-10 14:35] OpenMatt opened #27 "Push wiki.webmaker.org to prod"
Move it from staging to prod. https://github.com/MozillaFoundation/mofo-lightsaber/issues/13

[2015-03-10 14:35] OpenMatt opened #28 "Delete dino head image from wiki please!"
Point me at the settings / admin for the webmaker wiki. So I can make tweaks / update look and feel, etc.

[2015-03-10 14:36] #20 closed, assigned to OpenMatt

[2015-03-10 14:40] OpenMatt commented on #27
Includes: set up a database, vs. dirty data

[2015-03-10 14:47] OpenMatt commented on #25
Documentation: https://wiki.mozilla.org/Help:Bugzilla_Extension
Readme: https://github.com/mozilla/mediawiki-bugzilla/blob/master/README.md

[2015-03-10 14:51] OpenMatt commented on #14
Just confirmed that this still isn't working.

[2015-03-10 14:55] OpenMatt commented on #24
Here's the extension that I believe David would like to use: https://github.com/aaronpk/MediaWiki-Github-Issues

[2015-03-10 14:56] OpenMatt commented on #24
Plus useful context in this bugzilla thread: https://bugzilla.mozilla.org/show_bug.cgi?id=1017714#c9

[2015-03-10 14:58] OpenMatt commented on #26
http://www.mediawikiwidgets.org/Iframe

[2015-03-11 15:30] jdotpz commented on #26
This is now installed, due for some testing!

[2015-03-11 15:30] jdotpz commented on #25
Completed!

[2015-03-11 15:40] jdotpz commented on #28
I've created your user @OpenMatt so you should be set!  Close when you confirm.

[2015-03-11 15:47] jdotpz commented on #24
All setup:  http://wiki.mofostaging.net/Main_Page has an example from the github repo.

[2015-03-11 16:01] OpenMatt commented on #26
Trying to test now here: http://wiki.mofostaging.net/Test_iframe

Can't get it to work yet. Trying to embed this etherpad via iFrame:
http://pad.webmaker.org/test

[2015-03-11 16:08] OpenMatt commented on #24
This appears to be working here: http://wiki.mofostaging.net/Github_test

[2015-03-11 16:15] OpenMatt commented on #24
It would be great to just display the title, without the description and number of comments. I emailed the author, Aaron, to see if that's possible.

[2015-03-11 16:19] OpenMatt commented on #24
From Aaron:
"I don't have a way to customize that from within the wiki, but it shouldn't be too hard to add as an option to the plugin. If you do want to edit that, feel free to send me a pull request!"

[2015-03-11 20:08] OpenMatt commented on #25
I believe we experienced some problems and so need to re-open this.

[2015-03-11 20:10] OpenMatt commented on #28
Thanks @jdotpz. Do you know how I can update the theme? Is there an admin panel somewhere I'm not seeing? e.g., to remove the dino head logo. Or update the links on the left.
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/tceqb2x3.png

[2015-03-11 20:11] OpenMatt commented on #26
I think this one is working! Done!

[2015-03-11 20:11] #26 closed, assigned to nobody

[2015-03-16 16:35] OpenMatt opened #29 "Install Markdown extension for wiki.webmaker.org"
This would allow people to use markdown syntax on wiki.webmaker.org

@jdotpz what do you think? Andrew and others have requested this -- but is the extension good enough to use? If this proves difficult, we should abandon. But if it's fairly easy to install, would be a good addition.

http://www.mediawiki.org/wiki/Extension:MarkdownSyntax

[2015-03-16 16:36] OpenMatt commented on #24
this one's done

[2015-03-16 16:36] #24 closed, assigned to nobody

[2015-03-16 16:37] OpenMatt commented on #25
@jdotpz what do you think -- should we just say we can't do this one? Or keep trying?

[2015-03-16 16:38] jdotpz commented on #25
I'm gonna keep trying, but no reason we can't start using the rest of the features we wanted in "data-is-safe-demo mode", similar to what we did with pad.

[2015-03-16 16:42] jdotpz commented on #29
We can export to markdown, and really all the features of markdown (Headings, bold, italics, lists) are all there.  The extension _is_ installed, it just does not work. :)

I'd call this one as close as it's going to get.

[2015-03-16 16:47] OpenMatt commented on #28
Ok I figured out how to do this, given that I'm an admin I can do it myself:
http://www.mediawiki.org/wiki/Manual:Interface/Sidebar#Customize_the_sidebar

@jdotpz : do you know how to remove the dino head? Couldn't figure that part out
- I'd love to get rid of the "tools" section as well, but apparently that requires Javascript
  http://www.mediawiki.org/wiki/Manual:Interface/Sidebar#Add_or_remove

[2015-03-16 19:56] OpenMatt commented on #29
Sorry JP -- I mean for MediaWiki. Not etherpad.

[2015-03-16 20:11] jdotpz commented on #29
Ah, gotcha.
OK, got one plugin working.  # seems to make a numbered list instead of a heading, but the other markdown syntax parser (alternatesyntaxparser) just breaks our install.

[2015-03-16 20:15] jdotpz commented on #29
![screen shot 2015-03-16 at 3 11 09 pm](https://cloud.githubusercontent.com/assets/1373628/6675499/c99062fc-cbee-11e4-86a5-d86035715f2b.JPG)

[2015-03-17 17:22] OpenMatt commented on #29
Ok thanks JP. Let's mark this one closed.

[2015-03-17 17:22] #29 closed, assigned to nobody

[2015-03-17 17:23] OpenMatt commented on #28
- @jdotpz I'm going to simplify this one to "remove dino head." Or: point me at the right place to do it. Then we can close.

[2015-03-25 17:14] OpenMatt commented on #25
any updates on this one JP?

[2015-03-25 17:15] OpenMatt commented on #28
JP: any way to remove it? Otherwise we can just mark closed.

[2015-03-25 17:16] OpenMatt commented on #27
Hoping we can finish this one by end of week.

[2015-03-25 18:20] jdotpz commented on #28
I can surely remove it!  It's on the filesystem.  What would you like to replace it with?  Have a properly sized image handy?

[2015-03-25 18:20] jdotpz commented on #25
Afraid not, I'll see if I can get to it this week @OpenMatt

[2015-03-25 18:26] OpenMatt commented on #28
Nah, it's ok -- we can just remove it and leave blank.

[2015-03-25 18:27] OpenMatt commented on #25
ok great, thanks JP

[2015-03-30 18:11] OpenMatt commented on #27
done!

[2015-03-30 18:11] #27 closed, assigned to jdotpz

[2015-03-30 18:12] OpenMatt commented on #25
sounds like this one is not actually doable. :(

[2015-04-01 11:53] JohnMcLear opened #30 "Bump Marco Zehe RE Accessibility"
I have put an accessibility branch live on http://beta.etherpad.org and I need feedback from those who have significant experience in the area.

I bumped Marco but he hasn't replied.

Can you please bump him internally https://www.marcozehe.de/about/

Docs on the branch are available here: https://github.com/ether/etherpad-lite/pull/2566

Also if there is anyone else you can bump that'd be sweet,

[2015-04-17 17:07] JohnMcLear commented on #30
:-(

[2015-07-28 18:50] OpenMatt commented on #28
This is no longer needed. Let's close it.

[2015-07-28 18:50] #28 closed, assigned to OpenMatt

[2016-01-15 15:56] #9 closed, assigned to OpenMatt